<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <LastUpdateCheck>0</LastUpdateCheck>
    <Volume>80</Volume>
    <RecentFiles>
        <string>F:\Download\咒术回战\[BeanSub&amp;FZSD&amp;LoliHouse] Jujutsu Kaisen - 24 [WebRip 1080p HEVC-10bit AAC ASSx2].mkv</string>
        <string>F:\Download\test_files\Atomic_Blonde_2017_test.mkv</string>
        <string>F:\Download\test_files\Predator_1987_test.mkv</string>
        <string>F:\Download\咒术回战\[BeanSub&amp;FZSD&amp;LoliHouse] Jujutsu Kaisen - 02 [WebRip 1080p HEVC-10bit AAC ASSx2].mkv</string>
        <string>G:\Anime\[Beatrice-Raws] Evangelion 3.333 You Can (Not) Redo [BDRip 3840x1632 HEVC TrueHD]\[Beatrice-Raws] Evangelion 3.333 You Can (Not) Redo [BDRip 3840x1632 HEVC TrueHD]_rev.mkv</string>
        <string>https://www.bilibili.com/video/BV1iM4y1G7hh</string>
        <string>G:\美剧\Inside.No.9.S06.1080p.HDTV.DD2.0.H.264-BTN\inside.no.9.s06e04.1080p.hdtv.h264-uktv.mkv</string>
        <string>G:\Anime\新世紀福音戰士新劇場版\Evangelion 3.33 You Can (Not) Redo 2012 [BD 1920x1080 24fps AVC-yuv420p10 FLAC AC3] - yan04000985 v3.mkv</string>
        <string>F:\Download\test_files\04-Rec2020-Red-100_.mp4</string>
        <string>G:\美剧\Inside.No.9.S06.1080p.HDTV.DD2.0.H.264-BTN\inside.no.9.s06e06.1080p.hdtv.h264-uktv.mkv</string>
        <string>G:\美剧\Inside.No.9.S06.1080p.HDTV.DD2.0.H.264-BTN\inside.no.9.s06e05.1080p.hdtv.h264-uktv.mkv</string>
        <string>F:\Download\test_files\00.dv.mkv</string>
        <string>F:\Download\咒术回战\[BeanSub&amp;FZSD&amp;LoliHouse] Jujutsu Kaisen - 01 [WebRip 1080p HEVC-10bit AAC ASSx2].mkv</string>
        <string>G:\video\The.Hobbit&amp;TLOTR.2001-2014.EE.BluRay.1080p\TLOTR.The.Return.of.the.King.2003.EE.BluRay.1080p.x265.10bit.2Audio.MNHD-FRDS\The.Lord.of.the.Rings.The.Return.of.the.King.2003.EE.BluRay.1080p.x265.10bit.2Audio.MNHD-FRDS.mkv</string>
        <string>G:\video\The.Hobbit&amp;TLOTR.2001-2014.EE.BluRay.1080p\TLOTR.The.Fellowship.of.the.Ring.2001.EE.BluRay.1080p.x265.10bit.2Audio.MNHD-FRDS\The.Lord.of.the.Rings.The.Fellowship.of.the.Ring.2001.EE.BluRay.1080p.x265.10bit.2Audio.MNHD-FRDS.mkv</string>
    </RecentFiles>
    <WindowLocation>
        <X>0</X>
        <Y>0</Y>
    </WindowLocation>
    <WindowPosition>
        <X>1794</X>
        <Y>1163</Y>
    </WindowPosition>
    <WindowSize>
        <Width>2176</Width>
        <Height>1224</Height>
    </WindowSize>
    <ConfigEditorSearch>视频:</ConfigEditorSearch>
    <Mute>no</Mute>
    <UpdateCheckVersion />
</AppSettings>